.hero-content h1{
   font-size: 7rem;
   color: #fff;
   font-weight: bolder;
   position: absolute;
   top: 36%;
   left: 23%;
   
}
.button-more a{
   color: #fff;
   font-size: 3rem;
   position: absolute;
   top: 59%;
   left: 45%;
   font-weight: bolder;
   word-spacing: 8px;
   
}
.button-more a:hover{  
   text-decoration: underline yellowgreen;
   
}
