@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.home {
  background: url("../Photos/background.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  font-family: "Dancing Script", cursive;
}
.navbar {
  height: 120px;
  width: 100%;
  
}
.nav-links {
  width: 90%;
}

.nav-links ul {
  float: right;
}
.nav-links ul li {
  display: inline-grid;
  margin: 25px;
}
.nav-links ul li a {
  color: #fff;
  font-size: 30px;
}

.nav-links h2 {
  color: yellowgreen;
  font-size: 40px;
  position: absolute;
  top: 2.5%;
  left: 10%;
  font-weight: bolder;
}
.nav-links a:hover {
  text-decoration: underline yellowgreen;
}
.nav-links ul li .active {
  color: yellowgreen;
}

.change_content{
  font-size: 6.7rem;
  color: #fff;
  font-weight: bolder;
  position: absolute;
  top: 35%;
  left: 21%;
}
.change_content:after {
   content: "";
   animation: changetext 4s infinite linear;
   color: #9acd32;
 }
 @keyframes changetext {
   0% {
     content: "Welcome To The Dine";
   }
   50% {
     content: "We Are Best In Town";
   }
   100% {
     content: "Have A Nice Day";
   }
 }
.button-more a {
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
  word-spacing: 8px;
  position: absolute;
  top: 56%;
  left: 45%;
}
.button-more a:hover {
  text-decoration: underline yellowgreen;
}
.social-nav{
  position:absolute;
  top: 27%;
}
.social-nav i{
  color: #fff;
  font-size:25px;
  display: flex;
  margin: 50px; 
}
.social-nav .one:hover{
  color:red;
}
.social-nav .two:hover{
  color:blue;
}
.social-nav .three:hover{
  color:#2596be;
}
.social-nav .four:hover{
  color:#DF392E;
}