@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.order-box {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Dancing Script", cursive;
}
.order-box h1{
  text-align: center;
  position: absolute;
  top: 7%;
  left: 42%;
  font-size: 40px;
}
form {
  width: 73%;
  height: 600px;
  position: absolute;
  left: 27%;
  top: 20%;
}
form input {
  display: grid;
  width: 600px;
  height: 50px;
  margin: 35px;
  border-radius: 10px;
}

.sbt {
  padding: 15px 280px;
  background: #fff000;
  cursor: pointer;
  border-radius: 45px;
  position: absolute;
  left: 2.4%;
}
.sbt:hover {
  background: orange;
}
