@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container-box {
  font-family: "Dancing Script", cursive;
  width: 100%;
  height: 100%;
  background: #fff;
}
.box {
  position: relative;
  width: 100%;
  height: 100px;
}
.box h1 {
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 40px;
  text-decoration: underline;
  color: #000;
}
.offers {
  display: flex;
  position: relative;
}

.offers .cards {
  width: 500px;
  margin: 20px;
  background: #000;
  border-radius: 10px;
  position: relative;
  left: 15%;
}
.cards:hover {
  cursor: pointer;
  
}
.imgs img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid yellow;
  margin: 14px;
}

.contents h2 {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 22%;
  left: 48%;
}
.contents p {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 48%;
  left: 50%;
}
.order-btn {
  padding: 12px 22px;
  border-radius: 45px;
  border: none;
  background: yellow;
  font-size: 20px;
  position: absolute;
  top: 68%;
  left: 47%;
}
.order-btn:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
i {
  font-size: 20px;
}

/* menu section starts here */
.menu-heading {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  font-family: "Dancing Script", cursive;
}

.heading h1 {
  position: absolute;
  top: 4%;
  left: 45%;
  font-size: 40px;
  word-spacing: 8px;
  text-decoration: underline;
}

.heading p {
  position: absolute;
  top: 15%;
  left: 6%;
  font-size: 25px;
  font-weight: bolder;
  
}
.main-course {
  border: 2px solid black;
  width: 250px;
  height: 370px;
  margin: 10px;
  display: inline-block;
  position: relative;
  top: 23%;
  left: 6%;
  border-radius: 8%;
}
.main-course:hover {
  transform: translateX(-10px);
  box-shadow: 1px 2px yellowgreen;
  cursor: pointer;
}

.course img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #FFFF00;
  position: absolute;
  left: 7%;
  top: 2%;
}
.course-name h1 {
  position: absolute;
  top: 63%;
  left: 20%;
}
.course-name p {
  position: absolute;
  top: 75%;
  left: 34%;
  font-weight: bolder;
}
.order-course {
  padding: 10px 35px;
  background: #e7d700;
  position: absolute;
  left: 21%;
  top: 86%;
  border-radius: 10px;
  font-size: 20px;
}
.order-course:hover {
  background: orange;
}



/* second menu */
.menu-headings {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  font-family: "Dancing Script", cursive;
}

.headings p {
  position: absolute;
  top: 15%;
  left: 6%;
  font-size: 25px;
  font-weight: bolder;
  
}
.main-courses {
  border: 2px solid black;
  width: 250px;
  height: 370px;
  margin: 10px;
  display: inline-block;
  position: relative;
  top: 23%;
  left: 6%;
  border-radius: 8%;
}
.main-courses:hover {
  transform: translateX(-10px);
  box-shadow: 2px 2px yellowgreen;
  cursor: pointer;
}

.courses img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #FFFF00;
  position: absolute;
  left: 7%;
  top: 2%;
}
.course-names h1 {
  position: absolute;
  top: 63%;
  left: 20%;
}
.course-names p {
  position: absolute;
  top: 75%;
  left: 34%;
  font-weight: bolder;
}
.order-courses {
  padding: 10px 35px;
  background: #e7d700;
  position: absolute;
  left: 21%;
  top: 86%;
  border-radius: 10px;
  font-size: 20px;
}
.order-courses:hover {
  background: orange;
}